
/* #region area top menu components  */
.wtp-menu-topbar {
    background: var(--grey-topbar);
    height: 59px;
    padding: 10px 16px;
    box-sizing: border-box;
}

/* #endregion */

/* #region area msg top menu .wtp-menu-topbar  */
.wtp-msg-area>.wtp-menu-topbar {
    border-right: var(--border-areamsg);
    border-left: var(--border-areamsg);
    ;
}


/* #endregion */

/* #region area notify  */
.wtp-wrapper-notify{
    height:89px;
    background-color: #9de1fe;
    padding: 19.5px 12px 20.5px 13px;
    box-sizing: border-box;
}
.wtp-wrapper-notify:hover{
    cursor: pointer;
}
.wtp-wrapper-notify:hover .wtp-usr-lastinfo.var_b{
    text-decoration: underline;
}
.wtp-box-notify{
    height:49px;
}
.wtp-box-notify .wtp-avatar{
    background: none;
    padding-top:1px
}

/* #endregion */

/* #region area search in list */
.wtp_wrapper-area-search{
    background: var(--grey-serch-inlist);
    height:49px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,.08);
    padding:0 13px;
}
.wtp_wrapper-input-msg.search{
    margin:0;
    height:35px;
    border-radius: 18px;
}
.wtp_wrapper-input-msg.search>.bck_input-msg{
    padding: 7px 32px 11px 65px;
   
}
.wtp_wrapper-input-msg.search .input-text{
    max-height: unset;
    min-height: unset;
    white-space: unset;
    word-wrap: unset;
    overflow: hidden;
}
    
/* #endregion */

/* #region area type list msg */
.wtp-list_msg-area{
    width:100%;
    flex:1;
    max-height:calc(100% - 62px);
    overflow-y: auto;
    position: relative;
    background:#E5DDD5;
    z-index:1
}
.wtp-list_msg-area:before{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background: url(../img/bg-chat-tile_8a055527b27b887521a9f084497d8879.png);
    opacity: .06;
    z-index:-1

}
.wtp-input_msg-area{
    width:100%;
    min-height:62px;
    background:var(--grey-input-msg);
}
/* #endregion */

/* #region area input msg */
.wtp-input_msg-area{
    align-items: center;
    padding:0 10px;
    box-sizing: border-box;
}
/* #endregion */



/* #region components avatar */
.wtp-wrapper-avatar {
    height: 100%;
    flex-grow: 1;
}
.wtp-avatar {
    height: 100%;
    background: deepskyblue;
    border-radius: 50%;
}
/* variation */
.wtp-wrapper-avatar.no-grow{
    flex-grow:0;
    padding-right:15px;
    margin-top:-1px
}

/* #endregion */

/* #region components nav button */
.wtp-wrapper-btn {
    align-items: center;
}
.wtp-wrapper-btn button {
    border: 0;
    background: none;
    cursor: pointer;
}

.wtp-wrapper-btn button:focus {
    border: none;
    outline: none;
}

.wtp-btn_icon {
    display: block;
    padding: 8px;
}

.wtp-btn_icon>svg {
    display: block;
}

.wtp-btn_item:not(:first-child)>.wtp-btn_icon {
    margin-left: 10px;
}

/* #endregion */




/* #region components item user pic + info*/
.wtp-wrapper-item {
    background: var(--white);
    height: 72px;
    padding: 11.5px 0;
    box-sizing: border-box;
}

.wtp-list-pic {
    height: 100%;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 13px;
}
/* #endregion */

/* #region components info all*/

.wtp-wrapper-info{
    flex-grow:1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* #endregion */

/* #region components info user identifier */
.wtp-usr-identifier{
    font-size:1.6rem;
    line-height: 2.1rem

}
/* #endregion */

/* #region components info user lastinfo */
.wtp-usr-lastinfo{
    font-size: 1.3rem;
    line-height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: .6;
}
.wtp-usr-lastinfo.var_a{
    font-size: 1.4rem;
    margin-top: 2px;
}
.wtp-usr-lastinfo.var_b{
    font-size: 1.4rem;
    margin-top: 2px;
    opacity: 1;
}

/* #endregion */



/* #region components input-list form */
.search_in-list form{
    padding: 0 12px;
}
.search_in-list form,
.search_in-list input{
    width:100%;
    line-height: 2rem;
    min-height: 20px;
    border:none;
    border-radius: 999px;
}
.search_in-list input{
font-size: 1.5rem;
padding:8px 32px 8px 65px
}
.search_in-list input:focus{
    outline:none
}
.search_in-list input::placeholder{
    font-size: 1.4rem;
    opacity: .6;
}
/* #endregion */

/* #region components input-mgs reusable */
.wtp_wrapper-input-msg{
    flex:1;
    margin:5px 10px;
    overflow: hidden;
}
.bck_input-msg{
    box-sizing: border-box;
    width:100%;
    padding:9px 15px 11px;
    border-radius: 21px;
    line-height: 2rem;
    font-size: 1.5rem;
    background:#fff;
    position: relative;
    overflow: hidden;
}
.bck_input-msg:hover{
    cursor: text;
}
.input-placeholder{
    opacity: .6;
    position: absolute
}
.input-placeholder.off{
    opacity:0;
    display: block;
}
.input-text{
    margin:0;
    position: relative;
    font-size: 15px;
    font-weight: 400;
    width:100%;
    padding-right:2px;
    max-height: 100px;
    min-height: 20px;
    outline: none;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: text;
    white-space: pre-wrap;
    word-wrap: break-word;
    z-index: 1;
}
.input-text:focus{
    outline:none
}
/* #endregion */

/* #region components btn input msg */
.wtp-input_msg-area>.wtp-wrapper-btn{
    width:26px;
    padding: 5px 10px;
    margin-top:2px;
}
.wtp-wrapper-btn #LayerSent{
    display: none;
}
/* #endregion */



/* #region components received sent msg list*/
.wtp_area-box-msg:first-child{
    margin-top: 44px;
}
.wtp_area-box-msg{
   width:100%;
   height:auto;
   margin-bottom: 12px;
   padding:0 9%;
   box-sizing: border-box;
   display: flex;
}
.wtp_area-box-msg.seq{
    margin-bottom: 2px;
}
.wtp_msg-box{
    max-width:65%;
    border-radius:7.5px;
    padding: 6px 7px 8px 9px;
    position: relative;
    font-size: 1.42rem;
    line-height: 1.9rem;
}
.wtp_msg-box:after{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left:-10px;
    width:0px;
    height: 0px;
    border-radius: 5px;
    border-top: 15px solid #fff;
    border-bottom: 15px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    word-wrap: break-word;
    z-index:1
}
.wtp_msg-box.sent:after{
    border-top: 15px solid #DCF8C6;
    left:initial;
    right:-10px;
}
.wtp_msg-box.received{
    background: white;
}
.wtp_msg-box.sent{
    background: #DCF8C6;
    margin-right: 0;
    margin-left: auto;
}
.wtp_msg-text{
    overflow-x: hidden;
    word-wrap: break-word;
}
/* #endregion */


/* responsive components*/
@media screen and (max-width: 1024px) and (min-width: 901px){
    .wtp_msg-box{
        max-width:85%;
    }
}
@media screen and (max-width: 900px){
    .wtp_msg-box{
        max-width:95%;
    }
}

@media screen and (max-width: 912px){
    .wtp_area-box-msg{
        padding-left: 6%;
        padding-right: 6%;
    }
}
@media screen and (max-width: 968px){
    .wtp_area-box-msg{
        padding-left: 6.5%;
        padding-right: 6.5%;
    }
}
@media screen and (max-width: 1024px){
    .wtp_area-box-msg{
        padding-left: 7%;
        padding-right: 7%;
    }
}


/* NOTE 
    casi da fixare:
        ✓ cambiata la modalità di input costruita adhoc
        ✓ fixata larghezza responsive su main
        ✓ fixata l'angolo delle bubble in absolute pos aggiunto span per il testo
        ✓ aggiungere la notifica quindi al click rimuoverla
        ✓ fixare scroll orrizzontale sulla lista user (è sbagliata va tolta)
        ✓ sostituire l'input search con il modulo input
        ✓ aggiungere break o wrap a lista contatti (l'ellipse)
        ✓ ottimizzato controlli keyboard;
        ✓ on click su contatto fare l'highlight di selezione
        - correggere lo spazio nel caso di testi sequenziali, fare in modo che non prenda i precedenti
        - aggiungere pic dinamicamente (slezionando pic da cartella attenzione al nome)
        - aggiungere le icone all'input-search della lista contatti
        - aggiungere in hover su contatti e in click su selezione messaggio, il traingolo per il menu
        - ottimizzare il toggle nei controlli keyCode e fare la funzione recursiva sugli input
        - fixare shift+enter in modo che faccia una nuova linea
         



        
    casi secondari da fixare: 
        ✓ fixare la lunghezza nel caso di una stringa senza spazi oltre il 65%;
        ✓ fixare il responsive dei bubbles una volta raggiunta min-witdh:648px
        - aggiungere ombra ai messaggi
*/